.imagen-logo {
    width: 12rem;
    height: 12rem;
}

.bg-header {
    background-color: black;
    border-bottom: 1px solid beige;
}

.nav-link {
    color: white;
    font-size: 2rem;
    font-family: $font-texto;
    margin: 2rem;

}

.boton {
    background-color: white;
}